@using PresentationLayer.Controllers;
@*@{
    ViewData["Title"] = "Легкий уровень";
    var answers = ViewBag.Answers as List<string>;
    var halfCount = answers.Count / 2;
    var firstColumn = answers.Take(halfCount).ToList();
    var secondColumn = answers.Skip(halfCount).ToList();
}*@

<html translate="no">
<head>
    <meta charset="UTF-8"/>
    <link href="~/css/duel-mode.css" rel="stylesheet"/>
    <link href="~/css/answer-effects.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body translate="no">
<div class="wrapper">
    <header class="head__part">
        <div class="back-button">
            <a asp-controller="Home" asp-action="SelectMode" id="backButton" class="head__back">Назад</a>
        </div>
    </header>
    <main class="main__part">
        <div class="join-room-bg">
            <div class="join-room-content">
                <span>Ваш код: <span id="userCode"></span></span>
                <span>Введите код соперника</span>
                <form id="playForm" class="input-room-code">
                    <input class="input-code" id="opponentCode" autocomplete="off" type="text" name="name" placeholder="Введите код комнаты" required>
                    <button type="button" id="invite" class="confirm-btn"><img src="~/img/confirm.svg" alt="Confirm"></button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        lgl
    </footer>
</div>
<!-- Подключение jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Подключение Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- SignalR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.14/signalr.min.js"></script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost/gamehub") // Ensure this URL matches your server setup
        .withAutomaticReconnect()
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.onclose((error) => {
        console.error('Connection closed:', error);
    });

</script>
</body>
</html>