@using PresentationLayer.Controllers;
@{
    ViewData["Title"] = "Результат";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/finish.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

</head>

<body>
    <header class="head__part">
        <div class="settings">
<div></div>
        </div>
    </header>
    <main class="congratulaton">
        <div class="finish__level_card">
            <div class="finish__text">Победа!</div>
            <div class="finish__level">Вы прошли викторину на уровне сложности: "@ViewBag.DifficultyLevel"</div>
            <div class="correct__answ">Вы ответили на @ViewBag.CorrectAnswersCount из @ViewBag.TotalQuestionsCount верно!</div>
            <a asp-controller="Home" asp-action="SelectMode" id="backButton" class="return__button">Главное меню</a>
        </div>
    </main>
    <footer></footer>
    <!-- Подключение jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/easy-handler.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//bootstraptema.ru/snippets/effect/2018/confettikit/randomColor.js"></script>
    <script src="//bootstraptema.ru/snippets/effect/2018/confettikit/confettikit.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            new confettiKit({
                confettiCount: 40,
                angle: 60,
                startVelocity: 80,
                colors: randomColor({ hue: 'blue', count: 18 }),
                elements: {
                    'confetti': {
                        direction: 'down',
                        rotation: true,
                    },
                    'star': {
                        count: 10,
                        direction: 'down',
                        rotation: true,
                    },
                    'ribbon': {
                        count: 5,
                        direction: 'down',
                        rotation: true,
                    },
                    'custom': [{
                        count: getRandomInt(2, 4),
                        width: 50,
                        textSize: 15,
                        content: '//bootstraptema.ru/snippets/effect/2018/confettikit/shar.png',
                        contentType: 'image',
                        direction: 'up',
                        rotation: false,
                    }]
                },
                position: 'bottomLeftRight',
            });

            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
        });

    
    
    </script>
</body>