@using PresentationLayer.Controllers;
@{
    ViewData["Title"] = "Brand Battle";
}

<head>
    <link href="~/css/landing.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>



<header class="head__part">
    <div class="settings">

    </div>
    <div class="logo__img">
        <img src="~/img/logo.svg" class="main__logo_landing" alt="Logo" />
    </div>
    <div class="log__in">
        <button type="button" class="button">
<img src="~/img/add-user.png" alt="Add user" />
<span class="non-media">ВОЙДИТЕ ИЛИ ЗАРЕГИСТРИРУЙТЕСЬ</span>
<span class="media">ВОЙТИ</span>
        </button>
    </div>
</header>
<main class="main__part">
    <div class="ctr">
        <div class="field_wrapper">
            <div class="play__field">
                <input class="input__name" type="text" name="name" placeholder="Введите ваше имя" />
                <a asp-controller="Home" asp-action="SelectMode" class="button button__play">Играть</a>
            </div>
    </div>
</main>
<footer class="footer__part"></footer>

<!-- Подключение jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Подключение Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Send requests to reset counters when the page loads
        fetch('/Game/ResetCounters')
            .then(response => response.ok)
            .catch(error => console.error('Error:', error));

        fetch('/SelectMode/ResetCounters')
            .then(response => response.ok)
            .catch(error => console.error('Error:', error));
    });
</script>
<script src="~/js/site.js"></script>
