@{
    ViewData["Title"] = "Выбор режима";
}

<head>
    <link href="~/css/game.css" rel="stylesheet" />
</head>

<div class="container">
    <img class="header__img" src="~/img/header.svg" alt="header" />
</div>