@using PresentationLayer.Controllers;
@{
    ViewData["Title"] = "Выбор режима";
}

<head>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/chat.css" rel="stylesheet" />
<link href="~/css/SelelctMode.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <div class="head__mode_part">
                <div class="head__mode_left">
                    <a asp-controller="Home" asp-action="Index" id="backButton" class="head__back">Назад</a>
                </div>
                <div class="head__mode_right">
                    <section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <!-- Buttons trigger collapse -->
        <a data-mdb-ripple-init class="btn btn-info btn-lg btn-block" data-mdb-collapse-init href="#collapseExample"
          role="button" aria-expanded="false" aria-controls="collapseExample">
          <div class="d-flex justify-content-between align-items-center">
            <span>Collapsible Chat App</span>
            <i class="fas fa-chevron-down"></i>
          </div>
        </a>

        <!-- Collapsed content -->
        <div class="collapse mt-3" id="collapseExample">
          <div class="card" id="chat4">
            <div class="card-body" data-mdb-perfect-scrollbar-init
              style="position: relative; height: 400px">

              <div class="d-flex flex-row justify-content-start">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">How are you
                    ...???</p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">What are you
                    doing
                    tomorrow? Can we come up a bar?</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                </div>
              </div>

              <div class="divider d-flex align-items-center mb-4">
                <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">Hiii, I'm good.</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">How are you doing?</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">Long time no see! Tomorrow
                    office. will
                    be free on sunday.</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">We will go on
                    Sunday?</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">That's awesome!</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">I will meet you Sandon Square
                    sharp at
                    10 AM</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">Is that okay?</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay i will meet
                    you on
                    Sandon Square</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">Do you have pictures of Matley
                    Marriage?</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sorry I don't
                    have. i
                    changed my phone.</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-info">Okay then see you on sunday!!
                  </p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

            </div>
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                alt="avatar 3" style="width: 40px; height: 100%;">
              <input type="text" class="form-control form-control-lg" id="exampleFormControlInput3"
                placeholder="Type message">
              <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
              <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
              <a class="ms-3 link-info" href="#!"><i class="fas fa-paper-plane"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
                </div>
            </div>
        </header>
        <main>
            <div class="container__mode">
                <div class="easy__mode_container">
                    <a type="button" class="easy__mode_link button" data-toggle="modal" data-target="#simpleModeModal">ПРОСТОЙ РЕЖИМ</a>
                </div>
                <div class="wrapper">
                    <div class="hard__mode_container">
                        <a type="button" class="hard__mode_link button" data-toggle="modal" data-target="#hardModeModal">СЛОЖНЫЙ РЕЖИМ</a>
                    </div>
                    <div class="duel__mode_container">
                        <!--<a type="button" class="duel__mode_link button" data-toggle="modal" data-target="#duelModeModal">ДУЭЛЬ</a>-->
                        <div class="hard__mode_link button">ДУЭЛЬ</div>
                    </div>
                </div>
            </div>
            
        </main>


        <!-- Подключение jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Подключение Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <!-- Подключение SignalR -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.14/signalr.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                        const urlParams = new URLSearchParams(window.location.search);
                        const userName = urlParams.get('userName');
                        if (userName) {
                            console.log('User Name:', userName);

                        }
                    });

                    const hubConnection = new signalR.HubConnectionBuilder()
                        .withUrl("/gamehub")
                        .withAutomaticReconnect()
                        .configureLogging(signalR.LogLevel.Information)
                        .build();

                    hubConnection.on("ReceiveMessage", (username, message) => {
                        console.log(username);
                        console.log(message);
                    });
        </script>
    <script src="~/js/site.js"></script>

    <!-- Модальное окно для простого режима -->
    <div class="modal fade" id="simpleModeModal" tabindex="-1" role="dialog" aria-labelledby="simpleModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="simpleModeModalLabel">
                        Добро пожаловать! Вы выбрали простой уровень сложности
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот режим создан для тех, кто только начинает свой путь в мире викторин и готов пройти захватывающее путешествие по миру известных брендов сумок. Здесь вы встретите вопросы на самые разные темы, связанные с мировой модой, трендами и легендарными марками.
                    </p>
                    <p>
                        Предстоит выбрать из четырех вариантов ответа тот, который считаете верным. Но будьте осторожны, время для каждого вопроса ограничено 15 секундами! Это будет настоящий вызов для вашей реакции и знаний.
                    </p>
                    <p>
                        В этом режиме нет места для ошибок – только один правильный ответ. Готовы ли вы попробовать свои силы? Если да, то давайте начнем этот увлекательный путь к победе! Нажмите 'Играть' и дайте себе шанс стать настоящим знатоком мировой моды!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Easy">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для сложного режима -->
    <div class="modal fade" id="hardModeModal" tabindex="-1" role="dialog" aria-labelledby="hardModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="hardModeModalLabel">
                        Добро пожаловать! Вы выбрали сложный уровень
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот уровень предназначен для настоящих знатоков моды и истинных ценителей изысканности. Здесь вас ждут вопросы на самые разные темы, связанные с мировой индустрией моды, включая бренды сумок, историю моды, дизайнерские коллекции и многое другое.
                    </p>
                    <p>
                        В этом режиме вы не найдете вариантов ответов – вам придется проявить свои знания в полной мере и написать правильный ответ самостоятельно. Но не забывайте, что на каждый вопрос у вас будет всего 30 секунд. Подумайте быстро, но внимательно – каждая деталь может быть решающей!
                    </p>
                    <p>
                        Готовы ли вы к этому вызову? Если ваш ответ 'да', то жмите 'Играть' и докажите всем свою экспертность в мире моды! Не отступайте перед сложностями – впереди вас ждут настоящие испытания!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Hard">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для дуэльного режима -->
    <div class="modal fade" id="duelModeModal" tabindex="-1" role="dialog" aria-labelledby="duelModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="duelModeModalLabel">
                        Добро пожаловать в Дуэль!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот режим представляет собой настоящее соревнование между вами и другим игроком. Вас ожидают увлекательные вопросы из мира моды, где вы будете сражаться за звание лучшего знатока в этой области.
                    </p>
                    <p>
                        Игра пройдет в формате дуэли, где вы будете отвечать на вопросы по очереди. На некоторые вопросы у вас будет выбор из вариантов ответа, на другие – вам нужно будет написать ответ самостоятельно. Не забывайте, что на вопросы с вариантами ответа у вас будет всего 15 секунд, а на вопросы без вариантов  – 30 секунд. Поэтому действуйте быстро и точно!
                    </p>
                    <p>
                        Покажите свою сообразительность, смекалку и знания в мире моды! Готовы ли вы помериться силами с оппонентом? Если ваш ответ 'да', то жмите 'Играть' и отправляйтесь на поле битвы модных гуру! Победа ждет того, кто окажется самым искусным и внимательным!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Duel">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>
</body>
