<!DOCTYPE html>
<html>
<head>
    <title>Выбор режима</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/SelelctMode.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <div class="head__mode_part">
                <div class="head__mode_left">
                    <a asp-controller="Home" asp-action="Index" class="head__back">Назад</a>
                </div>
                <div class="head__mode_right">
                    <div class="settings">
                        <button class="button__settings open button" data-toggle="modal" data-target="#settings">
                            <svg width="42" height="42" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="1" d="M400 500C455.228 500 500 455.228 500 400C500 344.772 455.228 300 400 300C344.772 300 300 344.772 300 400C300 455.228 344.772 500 400 500Z" stroke="white" stroke-width="50" />
                                <path opacity="1" d="M458.847 71.7414C446.593 66.6667 431.063 66.6667 400 66.6667C368.937 66.6667 353.407 66.6667 341.153 71.7414C324.819 78.5077 311.841 91.486 305.074 107.821C301.986 115.278 300.777 123.95 300.304 136.6C299.609 155.189 290.075 172.396 273.965 181.698C257.855 190.999 238.186 190.651 221.74 181.959C210.548 176.043 202.434 172.754 194.431 171.701C176.901 169.393 159.173 174.143 145.145 184.907C134.625 192.979 126.859 206.43 111.328 233.331C95.7963 260.232 88.0307 273.683 86.2997 286.83C83.992 304.36 88.7423 322.089 99.506 336.117C104.419 342.52 111.323 347.9 122.04 354.633C137.793 364.533 147.93 381.397 147.929 400C147.928 418.603 137.792 435.463 122.039 445.36C111.322 452.097 104.416 457.48 99.5027 463.883C88.739 477.91 83.9887 495.637 86.2967 513.167C88.0274 526.313 95.793 539.767 111.324 566.667C126.856 593.567 134.622 607.02 145.142 615.09C159.169 625.853 176.898 630.603 194.428 628.297C202.43 627.243 210.544 623.953 221.735 618.04C238.182 609.347 257.852 609 273.963 618.3C290.075 627.603 299.609 644.81 300.304 663.403C300.777 676.05 301.986 684.723 305.074 692.18C311.841 708.513 324.819 721.493 341.153 728.26C353.407 733.333 368.937 733.333 400 733.333C431.063 733.333 446.593 733.333 458.847 728.26C475.18 721.493 488.16 708.513 494.923 692.18C498.013 684.723 499.223 676.05 499.697 663.4C500.39 644.81 509.923 627.603 526.033 618.3C542.143 608.997 561.813 609.347 578.263 618.04C589.453 623.953 597.567 627.24 605.567 628.293C623.097 630.603 640.827 625.853 654.853 615.09C665.373 607.017 673.14 593.567 688.67 566.663C704.203 539.763 711.97 526.313 713.7 513.167C716.007 495.637 711.257 477.907 700.493 463.88C695.58 457.477 688.673 452.093 677.957 445.36C662.207 435.463 652.07 418.6 652.07 399.997C652.07 381.393 662.207 364.537 677.957 354.64C688.677 347.903 695.583 342.523 700.497 336.117C711.26 322.091 716.01 304.362 713.703 286.832C711.973 273.685 704.207 260.234 688.673 233.333C673.143 206.432 665.377 192.982 654.857 184.909C640.83 174.145 623.1 169.395 605.57 171.703C597.57 172.756 589.457 176.045 578.263 181.96C561.817 190.653 542.147 191.001 526.037 181.699C509.923 172.397 500.39 155.189 499.697 136.598C499.223 123.949 498.013 115.278 494.923 107.821C488.16 91.486 475.18 78.5077 458.847 71.7414Z" stroke="white" stroke-width="50" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container__mode">
                <div class="easy__mode_container">
                    <a type="button" class="easy__mode_link button" data-toggle="modal" data-target="#simpleModeModal">ПРОСТОЙ РЕЖИМ</a>
                </div>
                <div class="wrapper">
                    <div class="hard__mode_container">
                        <a type="button" class="hard__mode_link button" data-toggle="modal" data-target="#hardModeModal">СРЕДНИЙ РЕЖИМ</a>
                    </div>
                    <div class="duel__mode_container">
                        <a type="button" class="duel__mode_link button" data-toggle="modal" data-target="#duelModeModal">ДУЭЛЬ</a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Подключение jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Модальное окно для простого режима -->
    <div class="modal fade" id="simpleModeModal" tabindex="-1" role="dialog" aria-labelledby="simpleModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="simpleModeModalLabel">
                        Добро пожаловать! Вы выбрали простой уровень сложности
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот режим создан для тех, кто только начинает свой путь в мире викторин и готов пройти захватывающее путешествие по миру известных брендов сумок. Здесь вы встретите вопросы на самые разные темы, связанные с мировой модой, трендами и легендарными марками.
                    </p>
                    <p>
                        Предстоит выбрать из четырех вариантов ответа тот, который считаете верным. Но будьте осторожны, время для каждого вопроса ограничено 15 секундами! Это будет настоящий вызов для вашей реакции и знаний.
                    </p>
                    <p>
                        В этом режиме нет места для ошибок – только один правильный ответ. Готовы ли вы попробовать свои силы? Если да, то давайте начнем этот увлекательный путь к победе! Нажмите 'Играть' и дайте себе шанс стать настоящим знатоком мировой моды!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Easy">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для сложного режима -->
    <div class="modal fade" id="hardModeModal" tabindex="-1" role="dialog" aria-labelledby="hardModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="hardModeModalLabel">
                        Добро пожаловать! Вы выбрали сложный уровень
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот уровень предназначен для настоящих знатоков моды и истинных ценителей изысканности. Здесь вас ждут вопросы на самые разные темы, связанные с мировой индустрией моды, включая бренды сумок, историю моды, дизайнерские коллекции и многое другое.
                    </p>
                    <p>
                        В этом режиме вы не найдете вариантов ответов – вам придется проявить свои знания в полной мере и написать правильный ответ самостоятельно. Но не забывайте, что на каждый вопрос у вас будет всего 30 секунд. Подумайте быстро, но внимательно – каждая деталь может быть решающей!
                    </p>
                    <p>
                        Готовы ли вы к этому вызову? Если ваш ответ 'да', то жмите 'Играть' и докажите всем свою экспертность в мире моды! Не отступайте перед сложностями – впереди вас ждут настоящие испытания!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Hard">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для дуэльного режима -->
    <div class="modal fade" id="duelModeModal" tabindex="-1" role="dialog" aria-labelledby="duelModeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content game-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="duelModeModalLabel">
                        Добро пожаловать в Дуэль!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    <p>
                        Этот режим представляет собой настоящее соревнование между вами и другим игроком. Вас ожидают увлекательные вопросы из мира моды, где вы будете сражаться за звание лучшего знатока в этой области.
                    </p>
                    <p>
                        Игра пройдет в формате дуэли, где вы будете отвечать на вопросы по очереди. На некоторые вопросы у вас будет выбор из вариантов ответа, на другие – вам нужно будет написать ответ самостоятельно. Не забывайте, что на вопросы с вариантами ответа у вас будет всего 15 секунд, а на вопросы без вариантов  – 30 секунд. Поэтому действуйте быстро и точно!
                    </p>
                    <p>
                        Покажите свою сообразительность, смекалку и знания в мире моды! Готовы ли вы помериться силами с оппонентом? Если ваш ответ 'да', то жмите 'Играть' и отправляйтесь на поле битвы модных гуру! Победа ждет того, кто окажется самым искусным и внимательным!
                    </p>
                </div>
                <div class="modal-footer align-center">
                    <a class="button-confirm" asp-controller="SelectMode" asp-action="Duel">Играть</a>
                    <!-- Здесь можно добавить дополнительные кнопки или функциональность для простого режима -->
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для настроек -->
    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content settings-modal">
                <div class="modal-header">
                    <h5 class="modal-title center" id="settings">
                        Настройки
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Здесь можно разместить содержимое модального окна, например, инструкции для простого режима -->
                    Сами настройки
                </div>
            </div>
        </div>
    </div>

</body>
</html>
