.none{
    display: none !important;
}

.answer {
    transition: opacity 0.5s ease;
}

.answer.dimmed {
    opacity: 0.5;
}

/*Header*/
.head__part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    padding: 0 32px 10px;
    width: 100vw;
}

.back-button {
    padding-top: 32px;
}

.question {
    display: flex;
    justify-content: center;
}

.question-style {
    width: 450px;
    position: relative;
}

.question-text {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    max-width: 350px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
/*TimeBar*/
.relative-container {
    position: relative;
    display: inline-block; /* Позволяет контейнеру подстраиваться под размер изображения */
}
#timeBarContainer{
    width: 357px;
    height: 9px;
    border-radius: 50px;
    overflow: hidden;
    
    position: absolute;
    left: 50%;
    top: 91%;
    transform: translateX(-50%);
}

#timerBar{
    width: 100%;
    height: 100%;
    background-color: #1F85DE;
    transition: width 1s linear;
}

h2{
    margin: 0;
}
/*Main*/
/*Card-login*/
.card-login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-login, .finish__level_card{
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000000;
    background: #00000061;
    width: min(90vw, 600px);
    height: min(90vw, 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.finish__level_card{
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
}

.finish__text{
    font-size: clamp(2.4rem, 4.5vw, 3.5rem);
    color: #41CAC2;
}

.finish__level{
    font-size: 22px;
}

.winner{
    font-size: clamp(1.5rem, 3.5vw, 2.3rem);   
    color: #32CD32;
}

.looser{
    font-size: clamp(1.5rem, 3.5vw, 2.3rem);
    color: #FF6347;
}

.join-duel-btn{
    background-color: #41CAC2;
    border: none;
    padding: 12px;
    font-weight: 800;
    font-size: 20px;
    color: white;
    border-radius: 16px;
}

.duel-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.card-log-title{
    color: white;
    font-weight: 700;
    font-size: clamp(2.4rem, 4.5vw, 3rem);
}

.input__name, .input__room{
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-weight: 800;

    width: 250px;
    height: 20px;
    
    margin: 4px;
    font-size: 18px;
}

.input__name_wrapper, .input__room_wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 8px;
    background: #355873;
    border-radius: 15px;
}

.return__button {
    border-radius: 18px;
    outline: 4px;
    background: #41CAC2;
    width: clamp(30%, 40vw, 40%);
    height: clamp(20%, 16vw, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: clamp(1.1rem, 3.6vw, 1.9rem);
    font-weight: 700;
}

.return__button:hover{
    color: black;
}

.finish__level_card_wrapper{
    width: 100vw;
    height: calc(100vh - 300px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Waiting card*/
.waiting-card{
    display: flex;
    max-width: max-content;
    flex-direction: column;
    margin: auto;
}

.loader {
    width: 250px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.caption {
    margin: auto;
    font-size: 20px;
    color: white;
}

.circle-waiting-card {
    width: 50px;
    height: 50px;
    background-color: #41CAC2;
    border-radius: 50%;
    display: inline-block;
    animation: jump 1s linear infinite;
}

@keyframes jump {
    0% {
        margin-top: 0;
    }
    35% {
        margin-top: -75px;
    }
    70% {
        margin-top: 0px;
    }
}

#a {
    animation-delay: 0s;
}

#b {
    animation-delay: 0.2s;
}

#c {
    animation-delay: 0.4s;
}

.error{
    margin: -10px;
    font-size: 22px;
    font-weight: 700;
    color: red;
}
/*Question img*/
.question-img {
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000061;
    background: #081b25;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Отступ между изображением и ответами */
}

.question-img > img {
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.wrapper-answer {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.answer {
    border-radius: 18px;
    outline: 4px;
    border: 9px solid #00000061;
    background: #41cac2;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
}
.join-room-bg{
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #0C2532;
    background: #0C2532;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main{
    height: 100%;
}

.main__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: flex-start;
    margin: auto;
    max-width: 960px;
    margin-top: 32px;
    margin-bottom: 32px;
}



.input-room-code{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    border: 0;
    padding: 16px;
    background: #355873;
    border-radius: 15px;
}

.input-code{
    width: 90%;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-weight: 900;
    letter-spacing: 1px;
}

.confirm-btn > img{
    width: 38px;
}

.join-room-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 100%;
}


.join-room-content > span{
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    max-width: 350px;
}

.confirm-btn{
    border: none;
    background-color: #355873;
}

.answer {
    border-radius: 18px;
    outline: 4px;
    border: 9px solid #00000061;
    background: #41cac2;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style-type: none;
}

#questionText{
    width: 100%;
}


/*Media requests*/
@media(max-width:1150px){
    .question-style{
        width:260px;
        position:relative;
    }

    .question-img > img{
        width:380px;
    }

    .wrapper{
        gap:15px;
    }

    .wrapper-answer{
        gap:15px;
    }

    .question-answer{
        gap:15px;
    }

    .question-text{
        font-size:14px;
        top:1.6rem;
        padding:5px;
    }

    .head__part{
        padding: 0 16px 5px;
    }

    .head__back{
        font-size:18px;
        padding: 0;
    }

    .answer {
        width: 190px;
        height: 80px;
        border: 8px solid #00000061;
    }

    .selected {
        transform: scale(1.1) translate(0px, 0px);
    }

    #timeBarContainer {
        width: 205px;
        height: 5px;
        border-radius: 50px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 58%;
        transform: translateX(-50%);
    }
}
@media (max-width: 570px) {
    .head__back{
        padding: 0;
    }
    #questionText{
        padding-top: 15px;
    }
}
@media(max-width:400px){
    .question-img > img {
        width: 320px;
    }

    .question-img {
        border: 9px solid #00000061;
    }

    .answer {
        width: 160px;
        height: 80px;
        border: 8px solid #00000061;
    }
    
    .card-login{
        width: 350px;
        height: 350px;
    }
    
    .card-log-title {
        color: white;
        font-weight: 700;
        font-size: 24px;
    }


}