/*Header*/
.head__part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    padding: 0 32px 10px;
    width: 100vw;
}

.back-button {
    padding-top: 32px;
}

.question {
    display: flex;
    justify-content: center;
}

.question-style {
    width: 450px;
    position: relative;
}

.question-text {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    max-width: 350px;
}