.head__part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    padding: 0 32px 10px;
    width: 100vw;
}

.back-button {
    padding-top: 32px;
}

.question {
    display: flex;
    justify-content: center;
}

.question-style {
    width: 450px;
    position: relative;
}

.question-text {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    max-width: 350px;
}

/*Main*/
.main__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: flex-start; /* Выравнивание по верхнему краю */
    margin: auto; /* Центрирование по горизонтали */
    max-width: 960px; /* Ограничение максимальной ширины для контента */
    margin-top: 32px;
    margin-bottom: 32px;
}
/*Question img*/
.question-img {
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000061;
    background: #081b25;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Отступ между изображением и ответами */
}

.question-img > img {
    border-radius: 10px;
}

.question-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.wrapper-answer {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.answer {
    border-radius: 18px;
    outline: 4px;
    border: 9px solid #00000061;
    background: #41cac2;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next__question {
    border-radius: 18px;
    outline: 4px;
    border: 7px solid #00000061;
    background: #d82bdb;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.next__question:hover {
    color: black;
    transform: scale(1.03) translate(0px, 0px);
}

.next__question[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

/*Media requests*/
@media(max-width:1150px){
    .question-style{
        width:250px;
        position:absolute;
    }

    .question-img > img{
        width:380px;
    }

    .wrapper{
        gap:15px;
    }

    .wrapper-answer{
        gap:15px;
    }

    .question-answer{
        gap:15px;
    }

    .question-text{
        font-size:14px;
        top:1.6rem;
        padding:0;
    }

    .head__part{
        padding: 0 16px 5px;
    }

    .head__back{
        font-size:18px;
        padding: 0;
    }

    .answer {
        width: 190px;
        height: 80px;
        border: 8px solid #00000061;
    }

    .selected {
        transform: scale(1.1) translate(0px, 0px);
    }
}

@media(max-width:400px){
    .question-img > img {
        width: 320px;
    }

    .question-img {
        border: 9px solid #00000061;
    }

    .answer {
        width: 160px;
        height: 80px;
        border: 8px solid #00000061;
    }
}