/*Head part*/
.head__part{
    display:flex;
    justify-content:flex-end;
    padding:32px 32px 16px;
}

/*Main part*/
.finish__level_card{
    border-radius: 18px;
    outline: 4px;
    border: 10px solid #00000000;
    background: #00000061;
    width: min(90vw, 600px);
    height: min(90vw, 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.finish__level_card{
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
}
.congratulaton {
display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:30px;
    width:90vw;
}

.finish__text {
    font-size: clamp(2rem, 4vw, 3rem);    
    font-weight:700;
    color: #41CAC2;
    text-align: center;
}

.finish__level{
    font-size: clamp(1.2rem, 3vw, 2rem);    
    font-weight:600;
    color:white;
    text-align: center;
}

.correct__answ {
    font-size: clamp(1.2rem, 3vw, 2rem);    
    font-weight: 600;
    color: #2feb1a;
    text-align: center;
}

.return__button {
    border-radius: 18px;
    outline: 4px;
    background: #41CAC2;
    width: clamp(40%, 220px, 60%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: clamp(1.1rem, 2.4vw, 1.9rem);
    font-weight: 700;
}

.return__button:hover{
    color: black;
}

@media(max-width:1100px){
    .finish__level {
        text-align: center;
    }

    .correct__answ {
        text-align: center;
    }
}

@media(max-width:400px){
    .finish__level{
font-size:28px;
text-align:center;
    }

    .correct__answ{
        text-align:center;
    }


}





