

/*Main page*/

    .head__part {
    display: grid;
    grid-template-columns: minmax(0,1fr) max-content minmax(0,1fr);
    grid-template-rows: 1fr;
    padding: 28px;
}

.main__logo_landing{
    width: 400px;
    padding-top:40px;
}

.settings{
    display:flex;
    justify-content:flex-start;
}

.log__in{
    display:flex;
    justify-content:flex-end;
    height:fit-content;

}

.log__in_text:before {
    content: "ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ"
}

.button{
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    border:none;
    padding: 8px 16px;
    background-color:#41CAC2;
    border-radius:15px;
    gap:5px;
}

    .button > span {
        font-weight: 600;
        font-size: 14px
    }


    .button:hover {
        filter: brightness(0.80)
    }




.button__landing{
    padding:12px 16px;
}

.button__play {
    height: 55px;
}

.button__play:hover {
color:white;

}

.ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-height:500px;
}

.field_wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
}


.play__field {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding: 16px;
    background: #355873;
    border-radius: 15px;
}

    .play__field > *{
        font-weight:900;
    }
    .play__field > button{
        padding: 16px 24px;
    }

    .input__name, .input__name:active{
        text-transform:uppercase;
        background:none;
        border:none;
        color:white;
        outline:none;
    }
.deafault__modes{
    display:flex;
    flex-direction:row;
    padding:12px;
    gap:12px
}

.fw700 {
    font-weight: 700;
}




.container {
    max-width: 480px;
}


.violet {
    background-color: #c021c3;
}

.aqua {
    background-color:#41CAC2;
}

.red {
    background-color: #a52f2f;
}


/*Media requests*/
@media(max-width:1150px){
    .main__logo_landing{
        width:300px;
        padding-top:80px
    }
    .modal-dialog-centered.modal-dialog-scrollable .modal-content {
        width: 90vw !important;
    }
    .log__in_text:before {
        content: "ВОЙТИ"
    }


}

@media(max-width:400px){
    .play__field{
        gap:0;
        padding:12px;
    }

    .input__name, .input__name:active{
        width:230px;
    }
}

